/*============================================================
#title            : Exercise 5: STREET FIGHTER VI
#description      : Game created with passion with HTML/CSS/JAVASCRIPT
#author           : CAILLOT Brieuc, SAUMUROT Florian & Ibrahim Dabo
#date             : 20161124
#version          : Constantly on progress
#usage            : CSS
#notes            : Only working on search engine
=============================================================*/

@font-face {
    font-family: FontSF;
    src: url('../police/policesf.ttf');
}

*{
    padding: 0;
    margin: 0;
}

p {
    font-family: FontSF;
}

.wrapper{
    width: 1200px;
    height: 662px;
    margin: 0 auto;
}

#menu{
    width: 100%;
    height: 662px;
    background: url("../images/Menu/fond%20menu.jpg") no-repeat;
    background-size: 100% 100%;
    position: relative;
}

#menu #logo{
    width: 340px;
    height: 262px;
    background: url('../images/Menu/LogoMenu.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 30%;
    left: 37%;
}

#menu #start{
    display: none;
    width: 214px;
    height: 50px;
    top: 41%;
    left: 42%;
    position: absolute;
    text-align: center;
}

#menu #start p{
    font-weight: bold;
    font-size: 50px;
    color: yellow;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}

#menu #start p:hover{
    -webkit-transform: scale(1.2);
}

#menu #exit{
    display: none;
    width: 146px;
    height: 50px;
    position: absolute;
    top: 53%;
    left: 44.7%;;
    text-align: center;
}

#menu #exit p{
    font-weight: bold;
    font-size: 50px;
    color: yellow;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}

#menu #exit p:hover{
    -webkit-transform: scale(1.2);
}
#select_player{
    display: none;
    width: 100%;
    height: 662px;
    background: black;
    position: relative;
}

#select_player #message_player{
    width: 100%;
    height: 30px;
    color: yellow;
    font-weight: bold;
    text-align: center;
    font-size: 65px;
    margin-left: -2.5%;
}

#select_player #selection{
    width: 115px;
    height: 140px;
    position: absolute;
    top: 35%;
    left: 16.5%;
    border: yellow solid 5px;
    z-index: 10;
    
}

#select_player #Ryu{
    width: 150px;
    height: 150px;
    background: url('../images/selectfaces/Ryu_face.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 35%;
    left: 225px; 
}

#select_player #Ryu:hover{
    -webkit-transform: scale(1.1);
}

#select_player #ChunLi{
    width: 150px;
    height: 150px;
    background: url('../images/selectfaces/ChunLi_face.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 232px;
    left: 348px;
}

#select_player #Chunli:hover{
    -webkit-transform: scale(1.1);
}


#select_player #Ken{
    width: 150px;
    height: 150px;
    background: url('../images/selectfaces/Ken_face.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 232px;
    left: 471px;
}

#select_player #Ken:hover{
    -webkit-transform: scale(1.1);
}


#select_player #Guile{
    width: 150px;
    height: 150px;
    background: url('../images/selectfaces/Guile_face.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 232px;
    left: 771px;
}

#select_player #Guile:hover{
    -webkit-transform: scale(1.1);
}


#select_player #Akuma{
    width: 150px;
    height: 150px;
    background: url('../images/selectfaces/Akuma_face.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 232px;
    left: 891px;
}

#select_player #Akuma:hover{
    -webkit-transform: scale(1.1);
}


#select_player #DeeJay{
    width: 150px;
    height: 150px;
    background: url('../images/selectfaces/DeeJay_face.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 232px;
    left: 1011px;
}

#select_player #DeeJay:hover{
    -webkit-transform: scale(1.1);
}



#select_stage{
    height: 662px;
    background: black;
    position: relative;
    display: none;
    width: 100%;
}

#select_stage #message_stage{
    width: 100%;
    height: 30%;
    color: yellow;
    font-weight: bold;
    text-align: center;
    font-size: 65px;
    margin-left: -2.5%;
}

#select_stage #Stage1{
    width: 338px;
    height: 194px;
    background: url('../images/selectstages/stage1.jpg') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 21%;
    left: 2.75%;
}

#select_stage #Stage1:hover{
    -webkit-transform: scale(1.2);
}


#select_stage #Stage2{
    width: 338px;
    height: 194px;
    background: url('../images/selectstages/stage2.jpg') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 21%;
    left: 36.75%;
}

#select_stage #Stage2:hover{
    -webkit-transform: scale(1.2);
}

#select_stage #Stage3{
    width: 338px;
    height: 194px;
    background: url('../images/selectstages/stage3.jpg') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 21%;
    left: 70.75%;
}

#select_stage #Stage3:hover{
    -webkit-transform: scale(1.2);
}

#select_stage #Stage4{
    width: 338px;
    height: 194px;
    background: url('../images/selectstages/stage4.jpg') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 59%;
    left: 2.75%;
}

#select_stage #Stage4:hover{
    -webkit-transform: scale(1.2);
}

#select_stage #Stage5{
    width: 338px;
    height: 194px;
    background: url('../images/selectstages/stage5.jpg') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 59%;
    left: 36.75%;
}

#select_stage #Stage5:hover{
    -webkit-transform: scale(1.2);
}
#select_stage #Stage6{
    width: 338px;
    height: 194px;
    background: url('../images/selectstages/stage6.jpg') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 59%;
    left: 70.75%;
}

#select_stage #Stage6:hover{
    -webkit-transform: scale(1.2);
}

#fight{
    display: none;
    width: 100%;
    height: 662px;
    background: red;
    position: relative;
}