/*============================================================
#title            : Exercise 5: STREET FIGHTER VI
#description      : Game created with passion with HTML/CSS/JAVASCRIPT
#author           : CAILLOT Brieuc, SAUMUROT Florian & Ibrahim Dabo
#date             : 20161124
#version          : Constantly on progress
#usage            : CSS
#notes            : Only working on search engine
=============================================================*/

@font-face {
    font-family: FontSF;
    src: url('../police/policesf.ttf');
}

*{
    padding: 0;
    margin: 0;
}

p {
    font-family: FontSF;
}

ul li{
    font-family: FontSF;
}

.wrapper{
    width: 1200px;
    height: 662px;
    margin: 0 auto;
}

.selection{
    border: yellow solid 7px; 
    z-index: 10;
}

.noselection{
    border: solid 7px;
    z-index: 5;
}

.names1{
    color: whitesmoke;
    display: inline-block;
    padding-right: 30px;
    font-size: 30px;
    margin: 275px -28px 0px 76px;

}

.names2{
    color: whitesmoke;
    display: inline-block;
    padding-right: 30px;
    font-size: 30px;
    margin: 354px -214px 0px 260px;
}

#menu{
    width: 100%;
    height: 662px;
    background: url("../images/Menu/fond%20menu.jpg") no-repeat;
    background-size: 100% 100%;
    position: relative;
}

#menu #logo{
    width: 340px;
    height: 262px;
    background: url('../images/Menu/LogoMenu.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 30%;
    left: 37%;
}

#menu #start{
    display: none;
    width: 214px;
    height: 50px;
    top: 41%;
    left: 42%;
    position: absolute;
    text-align: center;
}

#menu #start p{
    font-weight: bold;
    font-size: 50px;
    color: yellow;
}

#menu #start p:hover{
    -webkit-transform: scale(1.2);
}

#menu #exit{
    display: none;
    width: 146px;
    height: 50px;
    position: absolute;
    top: 53%;
    left: 44.7%;;
    text-align: center;
}

#menu #exit p{
    font-weight: bold;
    font-size: 50px;
    color: yellow;
}

#menu #exit p:hover{
    -webkit-transform: scale(1.2);
}
#select_player{
    display: none;
    width: 100%;
    height: 662px;
    background: black;
    position: relative;
}

#select_player .fleche{
    background: url('../images/Sources/fleche.png') no-repeat;
    background-size: 100% 100%;
    width: 146px;
    height: 71px;
    margin-top: -29px;

}

#select_player #message_player{
    width: 100%;
    height: 42px;
    color: yellow;
    font-weight: bold;
    text-align: center;
    font-size: 65px;
    left: 54%;
    
}

#select_player #p1{
    width: 150px;
    height: 150px;
    background: url('../images/selectfaces/Ryu_face.png') no-repeat center;
    position: absolute;
    top: 50%;
    left: 50%; 
    -webkit-transform: translate(-348%, -70%);
}

#select_player #p2{
    width: 150px;
    height: 150px;
    background: url('../images/selectfaces/ChunLi_face.png') no-repeat center;
    position: absolute;
    top: 50%;
    left: 50%; 
    -webkit-transform: translate(-252%, -70%);
}

#select_player #p3{
    width: 150px;
    height: 150px;
    background: url('../images/selectfaces/Ken_face.png') no-repeat center;
    position: absolute;
    top: 50%;
    left: 50%; 
    -webkit-transform: translate(-156%, -70%);
}

#select_player #p4{
    width: 150px;
    height: 150px;
    background: url('../images/selectfaces/Guile_face.png') no-repeat center;
    position: absolute;
    top: 50%;
    left: 50%; 
    -webkit-transform: translate(55%, -70%);
}

#select_player #p5{
    width: 150px;
    height: 150px;
    background: url('../images/selectfaces/Akuma_face.png') no-repeat center;
    position: absolute;
    top: 50%;
    left: 50%; 
    -webkit-transform: translate(151%, -70%);
}

#select_player #p6{
    width: 150px;
    height: 150px;
    background: url('../images/selectfaces/DeeJay_face.png') no-repeat center;
    position: absolute;
    top: 50%;
    left: 50%; 
    -webkit-transform: translate(247%, -70%);
}

#select_stage{
    height: 662px;
    background: black;
    position: relative;
    display: none;
    width: 100%;
}

#select_stage ul li{
    display: inline-block;
    list-style: none;
    color: white;
    font-size: 30px;
}

#select_stage .fleche{
    background: url('../images/Sources/fleche.png') no-repeat;
    background-size: 100% 100%;
    width: 146px;
    height: 71px;
    margin-top: -29px;

}

#select_stage #ul1{
    left: 581px;
    top: 79px;
    position: absolute;
    margin: 6px -7px;
}

#select_stage #ul1 li:first-child{
    position: absolute;
    margin: 1px -420px;
}

#select_stage #ul1 li:last-child{
    margin: -33px 0px 0px 331px;
    width: 124px;
}


#select_stage #ul2{
    position: absolute;
    top: 369px;
    left: 581px;
}

#select_stage #ul2 li:first-child{
    position: absolute;
    margin: 1px -420px;
}

#select_stage #ul2 li:last-child{
    margin: -33px 0px 0px 331px;
    width: 150px;
}

#select_stage #message_stage{
    width: 100%;
    height: 5%;
    color: yellow;
    font-weight: bold;
    text-align: center;
    font-size: 65px;
    left: 50%;
}

#select_stage #Stage1{
    width: 338px;
    height: 194px;
    background: url('../images/selectstages/stage1.jpg') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 21%;
    left: 2.75%;
}

#select_stage #Stage1:hover{
    -webkit-transform: scale(1.2);
}


#select_stage #Stage2{
    width: 338px;
    height: 194px;
    background: url('../images/selectstages/stage2.jpg') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 21%;
    left: 36.75%;
}

#select_stage #Stage2:hover{
    -webkit-transform: scale(1.2);
}

#select_stage #Stage3{
    width: 338px;
    height: 194px;
    background: url('../images/selectstages/stage3.jpg') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 21%;
    left: 70.75%;
}

#select_stage #Stage3:hover{
    -webkit-transform: scale(1.2);
}

#select_stage #Stage4{
    width: 338px;
    height: 194px;
    background: url('../images/selectstages/stage4.jpg') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 64%;
    left: 2.75%;
}

#select_stage #Stage4:hover{
    -webkit-transform: scale(1.2);
}

#select_stage #Stage5{
    width: 338px;
    height: 194px;
    background: url('../images/selectstages/stage5.jpg') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 65%;
    left: 36.75%;
}

#select_stage #Stage5:hover{
    -webkit-transform: scale(1.2);
}
#select_stage #Stage6{
    width: 338px;
    height: 194px;
    background: url('../images/selectstages/stage6.jpg') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 65%;
    left: 70.75%;
}

#select_stage #Stage6:hover{
    -webkit-transform: scale(1.2);
}

#fight{
    display: none;
    width: 100%;
    height: 662px;
    background: red;
    background-size: 100% 100%;
    position: relative;
}